<table>
  <tr>
    <th>ID</th>
    <th>Login</th>
 
    <th colspan="3">Actions</th>
  </tr>
 
  <tr>
    <td><%=h @user.id %></td>
    <td><%=h @user.login %></td>
 
    <td><%= link_to 'Show', resource(@user) if @user.id!=nil %></td>
    <td><%= link_to 'Edit', resource(@user, :edit) if @user.id!=nil %></td>
    <td><%= delete_button(@user, "Delete #{@user.login}") if @user.id!=nil %></td>
  </tr>
</table>

<%= link_to 'Back', resource(:users) %>

